.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navLinks {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.activeLink {
  background-color: white;
  color: black;
}
